Flask<2.2
Flask-Babel<3.0.0
flask-jwt-extended>=3
SQLAlchemy>=0.6,<1.4
flask-sqlalchemy
mako
beaker
docutils>=0.4
pycryptodomex
pyrad>=1.1
netaddr
qrcode>=2.4
configobj>=4.6.0
httplib2
requests
pillow
passlib
pysodium>=0.6.8
python-ldap
bcrypt
cryptography
click
jsonschema
psycopg2-binary # for postgres
Werkzeug==2.2.2 #pinned for compatibility
gunicorn