# Version control
.git/
.gitignore

# Development environments
.vscode/
.idea/
.env*
.venv*/
.python-version

# Python artifacts
**/__pycache__/
**/*.py[cod]
**/*.so
**/*.egg
**/*.egg-info/
**/.eggs/
**/build/
**/dist/

# Test artifacts
**/.pytest_cache/
**/.coverage
**/coverage.xml
**/htmlcov/
Screenshots/
.tox/
**/.mypy_cache/

# Local development files
**/*.sqlite*
linotp.sqlite*
**/logs/
.DS_Store

# Build and CI artifacts
ci/
docker/
# included as entrypoint.sh gets tested:
!docker/linotp/
Dockerfile*

# Documentation build
api-doc/build/

# Cache directories
**/.cache/
**/.pybuild/
