linotpd/src/linotp/i18n/linotp.pot
*.pyc
*.mako.py
*~
*.log.*
*.log
build/
*egg-info/
dist/
MANIFEST
secKey
.project
.pydevproject
.settings
.idea
*test.sh
PKG-INFO
*.swp
linotp-build

# Build artifacts
adminclient/src/linotp-adminclient-*.dsc
adminclient/src/linotp-adminclient-*.tar.gz
adminclient/src/linotp-adminclient-*.deb
adminclient/src/linotp-adminclient-*.build
adminclient/src/linotp-adminclient-*.changes
adminclient/src/LinOTPAdminClientCLI-*.tar.gz
adminclient/src/LinOTPAdminClientCLI_*.orig.tar.gz
adminclient/src/LinOTPAdminClientCLI/debian/files
adminclient/src/LinOTPAdminClientCLI/debian/linotp-adminclient-cli.postinst.debhelper
adminclient/src/LinOTPAdminClientCLI/debian/linotp-adminclient-cli.prerm.debhelper
adminclient/src/LinOTPAdminClientCLI/debian/linotp-adminclient-cli.substvars
adminclient/src/LinOTPAdminClientCLI/debian/linotp-adminclient-cli/
adminclient/src/LinOTPAdminClientCLI/debian/python-module-stampdir/
adminclient/src/LinOTPAdminClientGUI-*.tar.gz
adminclient/src/LinOTPAdminClientGUI_*.orig.tar.gz
adminclient/src/LinOTPAdminClientGUI/debian/files
adminclient/src/LinOTPAdminClientGUI/debian/linotp-adminclient-gui.postinst.debhelper
adminclient/src/LinOTPAdminClientGUI/debian/linotp-adminclient-gui.postrm.debhelper
adminclient/src/LinOTPAdminClientGUI/debian/linotp-adminclient-gui.prerm.debhelper
adminclient/src/LinOTPAdminClientGUI/debian/linotp-adminclient-gui.substvars
adminclient/src/LinOTPAdminClientGUI/debian/linotp-adminclient-gui/
adminclient/src/LinOTPAdminClientGUI/debian/python-module-stampdir/
adminclient/src/python-yubico/debian/files
adminclient/src/python-yubico/debian/python-module-stampdir/
adminclient/src/python-yubico/debian/python-yubico.postinst.debhelper
adminclient/src/python-yubico/debian/python-yubico.prerm.debhelper
adminclient/src/python-yubico/debian/python-yubico.substvars
adminclient/src/python-yubico/debian/python-yubico/
adminclient/src/python-yubico_*.diff.gz
adminclient/src/python-yubico_*.dsc
adminclient/src/python-yubico_*.changes
adminclient/src/python-yubico_*.orig.tar.gz
auth_modules/src/freeradius_perl/debian/files
auth_modules/src/freeradius_perl/debian/linotp-freeradius-perl.substvars
auth_modules/src/freeradius_perl/debian/linotp-freeradius-perl/

# libpam-linotp
auth_modules/src/libpam-linotp_*.dsc
auth_modules/src/libpam-linotp_*.tar.gz
auth_modules/src/libpam-linotp_*.changes
auth_modules/src/libpam-linotp_*.deb
auth_modules/src/libpam-linotp/COPYING
auth_modules/src/libpam-linotp/INSTALL
auth_modules/src/libpam-linotp/Makefile
auth_modules/src/libpam-linotp/Makefile.in
auth_modules/src/libpam-linotp/aclocal.m4
auth_modules/src/libpam-linotp/autom4te.cache/
auth_modules/src/libpam-linotp/compile
auth_modules/src/libpam-linotp/config.guess
auth_modules/src/libpam-linotp/config.status
auth_modules/src/libpam-linotp/config.sub
auth_modules/src/libpam-linotp/configure
auth_modules/src/libpam-linotp/debian/autoreconf.after
auth_modules/src/libpam-linotp/debian/autoreconf.before
auth_modules/src/libpam-linotp/debian/files
auth_modules/src/libpam-linotp/debian/libpam-linotp.substvars
auth_modules/src/libpam-linotp/debian/libpam-linotp/
auth_modules/src/libpam-linotp/depcomp
auth_modules/src/libpam-linotp/install-sh
auth_modules/src/libpam-linotp/libtool
auth_modules/src/libpam-linotp/ltmain.sh
auth_modules/src/libpam-linotp/missing
auth_modules/src/libpam-linotp/src/.libs/
auth_modules/src/libpam-linotp/src/Makefile
auth_modules/src/libpam-linotp/src/Makefile.in
auth_modules/src/libpam-linotp/src/pam_linotp.la
auth_modules/src/libpam-linotp/src/pam_linotp.lo
auth_modules/src/libpam-linotp/src/pam_linotp.o

auth_modules/src/LinOTPAuth.tar.gz
auth_modules/src/linotp-freeradius-perl_*.dsc
auth_modules/src/linotp-freeradius-perl_*.tar.gz
auth_modules/src/linotp-freeradius-perl_*.changes
auth_modules/src/linotp-freeradius-perl_*.deb
#auth_modules/src/libpam-linotp/
doc/API/LinOTP-API.zip
doc/API/linotp-api/
doc/API/linotputils/
doc/API/useridresolver/
doc/LinOTPdoc*.tar.gz
doc/linotp-doc_*
doc/rST/_build/
keyring/src/linotp-keyring*
linotpd/src/LinOTP_*.orig.tar.gz
linotpd/src/linotp/i18n/de/LC_MESSAGES/linotp.mo
linotpd/src/linotp_*
linotpd/src/LinOTP-*.tar.gz
OUTPUT
qrcode/deb_dist/
qrcode/qrcode-*.tar.gz
qrcode_*_amd64.build
RELEASE/

# SMS Provider
smsprovider/src/SMSProvider-*.tar.gz
smsprovider/src/SMSProvider_*.orig.tar.gz
smsprovider/src/SMSProvider/debian/
smsprovider/src/linotp-smsprovider*
smsprovider/src/smsprovider_*
smsprovider/SMSProvider_*.orig.tar.gz
smsprovider/linotp-smsprovider_*.dsc
smsprovider/linotp-smsprovider_*.tar.gz
smsprovider/linotp-smsprovider_*.changes
smsprovider/src/debian/files
smsprovider/src/debian/linotp-smsprovider.postinst.debhelper
smsprovider/src/debian/linotp-smsprovider.prerm.debhelper
smsprovider/src/debian/linotp-smsprovider.substvars
smsprovider/src/debian/linotp-smsprovider/
smsprovider/src/debian/python-module-stampdir/

# Transit packages
transit_packages/adminclientce/debian/
transit_packages/adminclientee/debian/
transit_packages/doc/debian/
transit_packages/linotpadminclientce_*
transit_packages/linotpadminclientee_*
transit_packages/linotpdoc_*
transit_packages/linotpuseridresolver_*
transit_packages/linotpuseridresolveree_*
transit_packages/smsprovider/debian/
transit_packages/smsprovider_*
transit_packages/useridresolver/debian/
transit_packages/useridresolveree/debian/

# UserIdResolver
useridresolver/LinOtpUserIdResolver-*.tar.gz
useridresolver/linotp-useridresolver_*.dsc
useridresolver/linotp-useridresolver_*.tar.gz
useridresolver/linotp-useridresolver_*.deb
useridresolver/linotp-useridresolver_*.changes
useridresolver/src/debian/files
useridresolver/src/debian/linotp-useridresolver.postinst.debhelper
useridresolver/src/debian/linotp-useridresolver.prerm.debhelper
useridresolver/src/debian/linotp-useridresolver.substvars
useridresolver/src/debian/linotp-useridresolver/
useridresolver/src/debian/python-module-stampdir/
