#!/usr/bin/make -f

#export DH_VERBOSE = 1

export PYBUILD_NAME=linotp
export PYBUILD_DISABLE=test

export DEB_VERSION = $(shell sed -ne '1{s/^.* (//;s/).*$$//;p}' debian/changelog)

%:
	dh $@ --with python3 --buildsystem=pybuild

# The directory where dbconfig-common install/upgrade scripts will be placed
DBSCRIPTS_DEST=debian/linotp/usr/share/dbconfig-common/scripts/linotp
override_dh_install:
	dh_install

	# Install dbconfig-common scripts in debian/dbconfig-common
	mkdir -p -m755 ${DBSCRIPTS_DEST}
	install -m644 debian/dbconfig-common/dbconfig-common-lib.sh ${DBSCRIPTS_DEST}/lib.sh
	install -m755 debian/dbconfig-common/dbconfig-vars ${DBSCRIPTS_DEST}/dbconfig-vars
	for DB in mysql pgsql; do \
		# Use the same script for install and upgrades \
		installdir=${DBSCRIPTS_DEST}/install/$${DB} ;\
		mkdir -p -m755 $$installdir ;\
		install -m755 debian/dbconfig-common/db-install $$installdir ;\
		# Upgrades from 2 -> 2.80 require the new configuration settings \
		upgradedir=${DBSCRIPTS_DEST}/upgrade/$${DB} ;\
		mkdir -p -m755 $$upgradedir ;\
		for VERSION in 2.80; do \
			install -m755 debian/dbconfig-common/db-install $$upgradedir/$${VERSION} ;\
		done ;\
	done

override_dh_installdeb:
	dh_installdeb

	# Make sure that the stuff setuptools puts into /usr/etc actually ends up in /etc;
	# otherwise the postinst gets confused.
	# Also, replace “@@@DEB_VERSION@@@” by the Debian package version number (as per
	# the changelog, see above) in all {pre,post}{inst,rm} files.
	for pkg in $$(dh_listpackages -i); do \
		if [ -d debian/$$pkg/usr/etc ]; then \
			cp -a debian/$$pkg/usr/etc/* debian/$$pkg/etc ; \
			rm -r debian/$$pkg/usr/etc ; \
		fi ; \
		sed -i -e 's/@@@DEB_VERSION@@@/$(DEB_VERSION)/' debian/$$pkg/DEBIAN/*; \
	done

	find debian/linotp/usr -ls | grep public
	# Add a symlink to the custom style directory for apache to follow
	find debian/linotp/usr -type d -name public -ls \
		-execdir ln -s /etc/linotp/custom-style {}/custom \;

override_dh_compress:
	# Prevent these files from being compressed to make it easier for the
	# sysadmin to use them directly
	dh_compress -Xapache-site.conf -Xmailtemplate
