#!/usr/bin/make -f

#export DH_VERBOSE = 1
export PYBUILD_NAME=linotp

# LinOTP functional tests require special system setup
export PYBUILD_DISABLE=test

%:
	dh $@ --with python2 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install -- --after-install \
		"mv {destdir}/usr/etc {destdir}/etc"

override_dh_clean:
	dh_clean
	debconf-updatepo

