Source: linotp-useridresolver
Section: net
Priority: optional
Maintainer: KeyIdentity GmbH <linotp@keyidentity.com>
Build-Depends: debhelper (>=7.4.0), python-support (>=0.6), cdbs (>=0.4.49),
  python (>=2.6), po-debconf, python-setuptools
Standards-Version: 3.9.1

Package: linotp-useridresolver
Architecture: all
Homepage: http://www.linotp.org/
Depends: ${misc:Depends}, ${python:Depends}
Replaces: linotpuseridresolver (<< 2.5.2-1~), linotpuseridresolveree (<< 2.5.2-1~),
  linotp-useridresolver-ee (<< 2.7~)
Breaks: linotpuseridresolver (<< 2.5.2-1~), linotpuseridresolveree (<< 2.5.2-1~),
  linotp-useridresolver-ee (<< 2.7~), linotp (<< 2.7~)
Description: LinOTP UserIdResolver Open Source Edition. Needed for the LinOTP server.
 LinOTP 2 is an open solution for strong two-factor authentication with 
 One Time Passwords.  LinOTP 2 is also open as far as its modular 
 architecture is concerned.  LinOTP 2 aims to not bind you to any 
 decision of the authentication protocol or  it does not dictate 
 you where your user information should be stored.
 This is achieved by its new, totally modular architecture.
