### Variables used by the test-upgrade script
# Save this file as .env and edit the values to suit
# your installation settings

# Sources directory
linotp_project="$(realpath $0/../../../../..)"

# URL of linotp deb to download and install
linotp2_deb_url="http://www.linotp.org/apt/debian/dists/buster/linotp/all/linotp_2.11.2-1~bpo10+1_all.deb"

# Linotp 3 deb to use for installation
linotp3_deb="${linotp_project}/linotpd/linotp_3.0~b0-1_all.deb"

# MySQL / MariaDB root password
# This is needed for tests that install the LinOTP 2 packages.
# It is not needed for LinOTP 3 because that uses the Debian sys
# The mysql database user is hardcoded to root, so we have to use the 'root' password
# here
mysql_root_password="PASSWORDHERE"

# Allow removal of existing linotp package and database?
# WARNING: this will DELETE any existing linotp configuration!
#
# Uncomment the following to allow this:
#LINOTP_PURGE_ALLOW=yes

# configuration file for integration tests
# default: tests/integration/server_cfg.ini
#integration_ini="server_local_config.ini"

# Command to use to gain root
#sudo="sudo --preserve-env=DEBIAN_FRONTEND,DEBIAN_PRIORITY"

# ------------
# Integration tests
# ------------
# Which pytest to use for running selenium tests. The pytest version needs to have
# access to the various dependencies and can be in a virualenv.
# default: pytest on the current PATH.
#pytest=$HOME/.virtualenvs/linotp/bin/pytest

# Which test suite to run?
# The default is 'smoketest'. Unset to skip selenium testing
# integration_suite=smoketest

# Note that if you want to change pytest behaviour, for example
# to stop in a debugger on test fail, you can use PYTEST_ADDOPTS
# for example:
#   PYTEST_ADDOPTS="--pudb" test-upgrade alltests

