#auth table {
  width: 100%;
}

#auth > table > tbody > tr:not(:last-child) > td {
  border-bottom: 1px solid grey;
}

#auth > table > tbody > tr > td {
  padding: 15px 0;
}

#auth table table td:first-child {
  width: 300px;
}

#auth table table {
  table-layout: fixed;
}

#auth.qrtoken #challenge_qrcode {
  max-width: 400px;
}

#auth #display {
  word-break: break-all;
}