Source: linotp-adminclient-gui
Section: net
Priority: optional
Maintainer: KeyIdentity GmbH <linotp@keyidentity.com>
Build-Depends: debhelper (>=7.4.0), python-support (>=0.6), cdbs (>=0.4.49),
 python-setuptools
Standards-Version: 3.9.1

Package: linotp-adminclient-gui
Architecture: all
Homepage: https://www.linotp.org/
Depends: ${misc:Depends}, ${python:Depends}, linotp-adminclient-cli,
 python-configobj (>=4.6.0), python-gtk2
Replaces: linotpadminclientee (<< 2.5.2-1~), linotp-adminclient-ee (<< 2.7)
Breaks: linotpadminclientee (<< 2.5.2-1~), linotp-adminclient-ee (<< 2.7), linotp-adminclient-ce (<< 2.7)
Description: This package contains the LinOTP GUI Admin Client components.
 LinOTP 2 is an open solution for strong two-factor authentication with 
 One Time Passwords.  LinOTP 2 is also open as far as its modular 
 architecture is concerned.  LinOTP 2 aims to not bind you to any 
 decision of the authentication protocol or  it does not dictate 
 you where your user information should be stored.
 This is achieved by its new, totally modular architecture.
