# Local LinOTP settings
LOGGING_FILE_LEVEL="DEBUG"
#LOGGING_LEVEL="DEBUG"

# Settings specific to the packaging
# TODO: Read these from a packaging directory
ROOT_DIR="/etc/linotp"
LOGFILE_DIR="/var/log/linotp"

SECRET_FILE="/etc/linotp/encKey"
