Source: python-yubico
Section: net
Priority: optional
Maintainer: LSE Leading Security Experts GmbH <linotp-community@lsexperts.de>
Build-Depends: debhelper (>=7.4.0), python-support (>=0.6), cdbs (>=0.4.49)
Standards-Version: 3.9.1

Package: python-yubico
Architecture: all
Homepage: https://github.com/Yubico/python-yubico
Depends: ${misc:Depends}, ${python:Depends}
Description: Python code to talk to YubiKeys
 The YubiKey is a hardware token for authentication. The main
 mode of the YubiKey is entering a one time password (or a strong
 static password) by acting as a USB HID device, but there are
 things one can do with bi-directional communication.

