# -*- coding: utf-8 -*-
#
#    LinOTP - the open source solution for two factor authentication
#    Copyright (C) 2010 - 2019 KeyIdentity GmbH
#
#    This file is part of LinOTP server.
#
#    This program is free software: you can redistribute it and/or
#    modify it under the terms of the GNU Affero General Public
#    License, version 3, as published by the Free Software Foundation.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the
#               GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
#
#    E-mail: linotp@keyidentity.com
#    Contact: www.linotp.org
#    Support: www.keyidentity.com
#
include LICENSE
recursive-include linotp/public *
recursive-include linotp/templates *
recursive-include linotp/i18n *

# Include all files in the config directory in the sources.
# Some of these will be installed into the binary package
# (see data_files in setup.py) and will be automatically
# included in the source package. But the scripts used for the
# Docker images are not included in the binary package, so here
# we specify that we still want to include all remaining files
# in the source package.
#  * config/linotp-docker.cfg.tmpl
#  * config/docker-initscripts.d
recursive-include config *

recursive-include tools *
recursive-include examples *
recursive-include linotp/tokens *.mako
exclude linotp/controllers/testing.py
include tools/README-migrate.txt
include README.rst
